* {
    margin: 0;
    padding: 0;
   
}


BodyContainer {
   clear:both;
}

#NavBar {
    height: 50px;
    background-color:rgb(33, 31, 31);
    overflow: hidden;
    
    
}


#NavBarList {
    text-align: center;
    
    margin-top: 1%;
   
}

#NavBarList ul li{
    display: inline;
    list-style-type: none;
    margin-right: 25px;
    padding: 15px 5px 5px 5px;
  

}

#NavBarList ul li a {   
    text-decoration: none;   
    color: rgb(255, 255, 255);  
    font-size: 15px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    font-weight: bold;  
   
          
        
}

#rightNav{
    float: right;
    margin-right: 2%
}

#IndexPage {
    position: absolute;
    background-image: url("../Content/Images/ww1.png");
    transition: background 1s linear;
    height: 94.9%;
    width: 100%;
}

#ButtonWrapper{
    clear:both;
    
}

#ButtonHolder{
    
    margin-top: 15%;
    margin-left: 45%;
    visibility:visible;
    
    
}

.LoginButtons {
    height: 35px;
    width: 200px;
    background: transparent;
    color: white;
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.LoginButtons:hover{
    background-color: rgb(196, 196, 193);
}


#HeaderMainWrapper{
    clear:both;
}

#HeaderMainText{
    text-align: center;
    margin-top: 13%;
    
}

#HeaderMainText h3{
    color: rgb(196, 196, 193);
    font-size: 40px;
    padding-left: 35px;
    font-family: Arial;
}






