@model ComicWebsite.Models.AccountRecovery
@{
    ViewBag.Title = "PasswordResetCode";
    Layout = "~/Views/Shared/HeaderFramework.cshtml";
}


<div id="changePasswordForm">
    <h3> Please enter the reset code emailed to you</h3>
</div>






@using (Html.BeginForm("PasswordResetCode", "AccountRecovery", FormMethod.Post, new { id = "PasswordChangeForm" }))
{

    @Html.TextBoxFor(m => m.givenCode, new { @class = "PasswordChangeFormInput" })
    @Html.ValidationMessageFor(m => m.givenCode)
   
    <input type="submit" value="Sign me up!" id="PasswordChangeFormSubmit" />
}