@model ComicWebsite.Models.AccountRecovery
@{
    ViewBag.Title = "PasswordResetEmail";
    Layout = "~/Views/Shared/HeaderFramework.cshtml";
}

<div id="changePasswordForm">
    <h3> Please enter your email address  </h3>
</div>



@using (Html.BeginForm("PasswordResetEmail", "AccountRecovery", FormMethod.Post, new { id = "PasswordChangeForm" }))
{

    @Html.TextBoxFor(m => m.givenEmail, new { @class = "PasswordChangeFormInput" })
    @Html.ValidationMessageFor(m => m.givenEmail)

    <input type="submit" value="Sign me up!" id="PasswordChangeFormSubmit" />
}