@model ComicWebsite.Models.AccountRecovery
@{
    ViewBag.Title = "PasswordResetNewPassword";
    Layout = "~/Views/Shared/HeaderFramework.cshtml";
}

<div id="changePasswordForm">
    <h3> Please enter your new password</h3>
</div>

@using (Html.BeginForm("PasswordResetNewPassword", "AccountRecovery", FormMethod.Post, new { id = "PasswordChangeForm" }))
{

    @Html.PasswordFor(m => m.newPassword, new { @class = "PasswordChangeFormInput" })
    @Html.ValidationMessageFor(m => m.newPassword)
    @Html.PasswordFor(m => m.confirmednewPassword, new { @class = "PasswordChangeFormInput" })
    @Html.ValidationMessageFor(m => m.confirmednewPassword)
    <input type="submit" value="Sign me up!" id="PasswordChangeFormSubmit" />
}